apiVersion: v1
kind: Service
metadata:
  name: snake-web
spec:
  type: ClusterIP
  selector:
    app: snake-web
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  sessionAffinity: None