apiVersion: v1
kind: Service
metadata:
  name: snake-web
spec:
  type: LoadBalancer
  selector:
    app: snake-web
  ports:
    - port: 80
      name: http
      targetPort: 80
      protocol: TCP
  sessionAffinity: None